<ion-view class="home-bg" ng-controller="AddAssessmentMapController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <ion-content class=" padding has-header common-center" scroll="false">

    <div>
      <div id="map" class="add-assessment-map card">

      </div>

      <div class="common-margin-top common-center">{{vm.mapPositionObj.address}}
      </div>

      <div class="common-margin-top common-center">
        <button class="button button-positive button-small" ng-click="vm.fun.refreshMyPosition()">显示当前位置</button>
        <button class="button button-positive button-small common-margin-left-10"
                ng-click="vm.fun.refreshRoadOrInstallationPosition()">查看设施位置
        </button>
      </div>
    </div>

  </ion-content>
</ion-view>
