<ion-view class="padding " ng-controller="AssessmentStatusDetailsController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <ion-content class=" padding has-header has-footer padding-top scroll-bar-fade-out calm-border" scroll="false">

    <div ng-switch="vm.type">
      <div class="row wait-work-menu common-margin-top" ng-switch-when="05">
        <div class="col  text-center">保洁等级</div>
        <div class="col  text-center">主次干道</div>
        <div class="col  text-center">长度</div>
        <div class="col  text-center">宽度</div>
      </div>

      <div class="row wait-work-menu common-margin-top" ng-switch-when="01">
        <div class="col text-center">公厕类型：</div>
      </div>

      <div class="row wait-work-menu common-margin-top" ng-switch-when="06">
        <div class="col text-center">车辆类型：</div>
      </div>
    </div>

    <div ng-switch="vm.type">
      <div class="row" ng-switch-when="05">
        <div class="col  text-center">
          <input class="add-assessment-input text-center" ng-model="vm.assessmentStatusDetails.cleanLevel"
                 disabled/>
        </div>
        <div class="col  text-center">
          <input class="add-assessment-input text-center" ng-model="vm.assessmentStatusDetails.primaryOrSecondary"
                 disabled/>
        </div>
        <div class="col  text-center">
          <input class="add-assessment-input text-center" ng-model="vm.assessmentStatusDetails.length" disabled/>
        </div>
        <div class="col  text-center">
          <input class="add-assessment-input text-center" ng-model="vm.assessmentStatusDetails.width" disabled/>
        </div>
      </div>

      <div class="row" ng-switch-when="01">
        <div class="col text-center">{{vm.assessmentStatusDetails.condition}}</div>
      </div>

      <div class="row" ng-switch-when="06">
        <div class="text-center">{{vm.assessmentStatusDetails.condition}}</div>
      </div>
    </div>


    <div class="row">
      <div class="col text-center">

        <div class="common-center common-margin-top-10">
          <span>扣分情况：</span>
          <input class="add-assessment-select"  ng-model="vm.uploadData.points" ng-disabled="!vm.isEdit"/>
        </div>

        <div class="common-center common-margin-top-10">
          <span>扣分原因：</span>
          <select class="add-assessment-select" ng-model="vm.uploadData.reason" ng-disabled="!vm.isEdit">
            <option ng-repeat="item in vm.reasonAccount">{{item.name}}</option>
          </select>
        </div>

        <div class="common-center common-margin-top-10">
          <span>备注：</span>
          <textarea class="common-border add-assessment-textArea" ng-model="vm.uploadData.remarks"
                    ng-disabled="!vm.isEdit"></textarea>
        </div>


        <div class="common-margin-top common-center common-height-80" ng-hide="vm.isEdit">
          <img class="add-assessment-img"
               ng-repeat="item in vm.picBase64DataArray" ng-src="{{vm.serverUrl+item}}"
               on-hold="vm.fun.deletePic($index)">
        </div>

        <div class="common-margin-top common-center common-height-80" ng-show="vm.isEdit">
          <img class="add-assessment-img"
               ng-repeat="item in vm.picBase64DataArray" ng-src="{{vm.picBase64DataArray[$index]}}"
               on-hold="vm.fun.deletePic($index)">
        </div>

        <button class="common-margin-top" ng-disabled="!vm.isEdit" ng-click="vm.fun.takePicture()">拍照上传</button>

        <div>
          <button class="common-margin-top" ng-click="vm.fun.toCommonMap()">查看地图</button>
        </div>
      </div>
    </div>
  </ion-content>


  <div class="bar bar-footer">
    <button class="button common-center button-positive" ng-disabled="!vm.isEdit"
            ng-click="vm.fun.uploadAssessmentStatusDetailsData()">确定
    </button>
  </div>


</ion-view>

