<ion-view class="home-bg" ng-controller="AssessmentStatusDetailsController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>


  <div class="home-bottom-bg">

    <div class="common-min-height-60 padding-top-10" ng-switch="vm.type">

      <div ng-switch-when="05">
        <div class="row">
          <div class="col  text-center">
            <span class="common-font-4CB1AF-size-17">保洁等级</span>
            <span class="common-font-666-size-17">{{vm.assessmentStatusDetails.cleanLevel}}</span>
          </div>
          <div class="col  text-center">
            <span class="common-font-4CB1AF-size-17">主次干道</span>
            <span class="common-font-666-size-17">{{vm.assessmentStatusDetails.primaryOrSecondary}}</span>
          </div>
        </div>
        <div class="row common-margin-top">
          <div class="col  text-center">
            <span class="common-font-4CB1AF-size-17">长度</span>
            <span class="common-font-666-size-17">{{vm.assessmentStatusDetails.length}}</span>
          </div>
          <div class="col  text-center">
            <span class="common-font-4CB1AF-size-17">宽度</span>
            <span class="common-font-666-size-17">{{vm.assessmentStatusDetails.width}}</span>
          </div>
        </div>
      </div>

      <div ng-switch-when="01">
        <div class="row">
          <div class="col text-center">
            <span class="common-font-4CB1AF-size-17">公厕类型</span>
            <span class="common-font-666-size-17">{{vm.assessmentStatusDetails.condition}}</span>
          </div>
        </div>
      </div>

      <div ng-switch-when="06">
        <div class="row">
          <div class="col text-center">
            <span class="common-font-4CB1AF-size-17">车辆类型</span>
            <span class="common-font-666-size-17">{{vm.assessmentStatusDetails.condition}}</span>
          </div>
        </div>
      </div>

    </div>


    <div class="padding-left-right-20">

      <div class="common-line-86D2C6"></div>

      <ion-content class="common-ion-content" has-bouncing="false" scroll="false">


        <div class="assessment-ion-content-child-div common-white-background">


          <!--扣分情况部分-->
          <!--<div class="common-center common-margin-top-10">-->
          <!--<div class="row">-->
          <!--<div class="col">-->
          <!--<div class="common-center">-->
          <!--<span class="common-font-4CB1AF-size-default">扣分情况</span>-->
          <!--<input class="add-assessment-input common-font-666" ng-model="vm.uploadData.points"-->
          <!--ng-disabled="!vm.isEdit"/>-->
          <!--</div>-->
          <!--</div>-->

          <!--<div class="col">-->
          <!--<span class="common-font-4CB1AF-size-default">扣分原因</span>-->
          <!--<input class="add-assessment-input common-font-666" ng-model="vm.uploadData.reason"-->
          <!--ng-disabled="!vm.isEdit" ng-if="!vm.isEdit"/>-->
          <!--<select class="add-assessment-input common-font-666" ng-model="vm.uploadData.reason" ng-if="vm.isEdit">-->
          <!--<option ng-repeat="item in vm.reasonAccount">{{item.name}}</option>-->
          <!--</select>-->
          <!--</div>-->
          <!--</div>-->


          <!--<div class="row common-margin-top-5">-->
          <!--<div class="col">-->
          <!--<div class="common-center">-->
          <!--<span class="common-font-4CB1AF-size-default">备&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp注</span>-->
          <!--<input class="add-assessment-input" style="width: 250px;"-->
          <!--ng-model="vm.uploadData.remarks"-->
          <!--ng-disabled="!vm.isEdit">-->
          <!--</div>-->
          <!--</div>-->
          <!--<div class="col">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <div class="common-margin-top-10">

            <div class="row">
              <div class="col">
                <div class="common-center">
                  <span class="common-font-4CB1AF-size-default">扣分情况</span>
                  <input class="add-assessment-input common-font-666" ng-model="vm.uploadData.points"
                         ng-disabled="!vm.isEdit"/>
                </div>
              </div>

              <div class="col">
                <span class="common-font-4CB1AF-size-default">扣分原因</span>
                <input class="add-assessment-input common-font-666" ng-model="vm.uploadData.reason"
                       ng-disabled="!vm.isEdit" ng-if="!vm.isEdit"/>
                <select class="add-assessment-input common-font-666" ng-model="vm.uploadData.reason" ng-if="vm.isEdit">
                  <option ng-repeat="item in vm.reasonAccount">{{item.name}}</option>
                </select>
              </div>
            </div>

            <div class="common-margin-top-10" style="padding-left: 17px;">
              <div class="row">
                  <span class="common-font-4CB1AF-size-default">备&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp注</span>
                  <input class="add-assessment-input" style="width: 200px;"
                         ng-model="vm.uploadData.remarks"
                         ng-disabled="!vm.isEdit">
              </div>
            </div>

          </div>

          <!--拍照上传部分-->
          <div class="assessment-photo-div common-center">
            <div class="common-flex-around" ng-if="vm.isEdit">
              <img id="assessmentImg1" class="add-assessment-img"
                   ng-src="assets/global/img/gridCheck/icon_streetscape.jpg"
                   on-hold="vm.fun.deletePic('1')">
              <img id="assessmentImg2" class="add-assessment-img"
                   ng-src="assets/global/img/gridCheck/icon_streetscape.jpg"
                   on-hold="vm.fun.deletePic('2')">
              <img id="assessmentImg3" class="add-assessment-img"
                   ng-src="assets/global/img/gridCheck/icon_streetscape.jpg"
                   on-hold="vm.fun.deletePic('3')">
              <img class="add-assessment-img" ng-src="assets/global/img/assessment/icon_takePhoto.png"
                   ng-click="vm.fun.takePicture()">
            </div>

            <div class="common-flex-around" ng-if="!vm.isEdit">
              <!--<img class="add-assessment-img"-->
              <!--ng-repeat="item in vm.picBase64DataArray" ng-src="{{vm.serverUrl+item}}">-->
              <img id="img0" class="add-assessment-img" ng-src="assets/global/img/gridCheck/icon_streetscape.jpg">
              <img id="img1" class="add-assessment-img" ng-src="assets/global/img/gridCheck/icon_streetscape.jpg">
              <img id="img2" class="add-assessment-img" ng-src="assets/global/img/gridCheck/icon_streetscape.jpg">
              <img class="add-assessment-img" ng-src="assets/global/img/assessment/icon_takePhoto.png">
            </div>
          </div>

          <!--查看地图部分-->
          <div class="common-center">
            <div class="common-margin-top assessment-map-btn" ng-click="vm.fun.toCommonMap()">查看地图</div>
          </div>

        </div>


    </div>

    <div class="common-line-86D2C6"></div>


    <div class="bar bar-footer assessment-bottom-bar common-center" ng-if="vm.isEdit"
         ng-click="vm.fun.uploadAssessmentStatusDetailsData()">
      <div class="common-center">
        <img class="assessment-confirm-img" src="assets/global/img/assessment/icon_ok.png">
        <span class="common-font-white-size-18 common-margin-left-10">确&nbsp&nbsp&nbsp&nbsp定</span>
      </div>
    </div>
    <div class="bar bar-footer assessment-bottom-bar common-center" ng-if="!vm.isEdit">
      <div class="common-center">
        <img class="assessment-confirm-img" src="assets/global/img/assessment/icon_ok.png">
        <span class="common-font-white-size-18 common-margin-left-10">确&nbsp&nbsp&nbsp&nbsp定</span>
      </div>
    </div>
  </div>

</ion-view>

