<ion-view class="home-bg" ng-controller="ProblemFeedbackController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>


  <div class="home-bottom-bg">

    <div class="common-center padding-top-20">
      <span class="common-font-4CB1AF-size-17">问题列表</span>
    </div>


    <div class="padding-left-right-20 save-data-row padding-top-30 common-font-4CB1AF-size-17">
      <div class="col col-40 text-center">设施名称</div>
      <div class="col col-20 text-center">类型</div>
      <div class="col col-20 text-center">状态</div>
      <div class="col col-20 text-center">详情</div>
    </div>


    <div class="padding-left-right-20">


      <div class="save-data-line"></div>

      <ion-content class="common-ion-content" has-bouncing="false" scroll="false">

        <div class="common-ion-content-child-div">
          <div class="list">
            <li class="common-item" ng-repeat="item in vm.problemList">
              <div class="row">
                <span class="col col-40 col-center text-center">{{item.name}}</span>
                <span class="col col-20 col-center text-center">{{item.type}}</span>
                <div class="col col-20 col-center text-center">未反馈</div>
                <div class="col col-20 common-center">
                  <div class="common-check-btn" ng-click="vm.fun.feedbackProblem(item)"></div>
                </div>
              </div>
            </li>
          </div>
        </div>

      </ion-content>

      <div class="save-data-line"></div>

    </div>

  </div>

</ion-view>
