<ion-view class="home-bg" ng-controller="ProblemFeedbackController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <div class="has-header margin-bottom-20">

    <div class="padding-top common-center common-margin-top-25">
      <span>问题列表</span>
    </div>

    <div class="row wait-work-menu padding-top">
      <div class="col col-30 text-center">设施名称</div>
      <div class="col col-20 text-center">类型</div>
      <div class="col col-20 text-center">状态</div>
      <div class="col col-30 text-center">详情</div>
    </div>

  </div>

  <ion-content class="common-margin common-border" scrollbar-y="false">

    <div class="light-border">
      <div>
        <div class="row">
          <div class="col col-30 text-center">
            <ul class="list">
              <li class="wait-work-list-item " ng-repeat="item in vm.problemList">
                {{item.name}}
              </li>
            </ul>
          </div>
          <div class="col col-20 text-center">
            <ul class="list">
              <li class="wait-work-list-item" ng-repeat="item in vm.problemList">
                {{item.type}}
              </li>
            </ul>
          </div>
          <div class="col col-20 text-center">
            <ul class="list">
              <li class="wait-work-list-item" ng-repeat="item in vm.problemList">未反馈</li>
            </ul>
          </div>
          <div class="col col-30 text-center">
            <ul class="list">
              <li class="wait-work-list-item" ng-repeat="item in vm.problemList">
                <!--<span class="wait-work-list-item-btn"-->
                      <!--ng-click="vm.fun.checkProblemDetails(item)">查看</span>-->
                <span class="wait-work-list-item-btn"
                      ng-click="vm.fun.feedbackProblem(item)">反馈</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
