<ion-view class="padding " ng-controller="AssessmentStatusController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <ion-content class=" padding has-header has-footer padding-top scroll-bar-fade-out calm-border">

    <div class="row wait-work-menu padding-top">
      <div class="col col-30 text-center">地址</div>
      <div class="col col-30 text-center">问题</div>
      <div class="col col-20 text-center">扣分</div>
      <div class="col col-20 text-center">查看</div>
    </div>

    <div class="padding-top">
      <div class="row">
        <div class="col col-30 text-center">
          <ul class="list">
            <li class="item wait-work-list-item " ng-repeat="item in vm.assessmentStatusList">
              {{item.name}}
            </li>
          </ul>
        </div>
        <div class="col col-30 text-center">
          <ul class="list">
            <li class="item wait-work-list-item" ng-repeat="item in vm.assessmentStatusList">
              {{item.deductItem}}
            </li>
          </ul>
        </div>
        <div class="col col-20 text-center">
          <ul class="list">
            <li class="item wait-work-list-item" ng-repeat="item in vm.assessmentStatusList">
              {{item.score}}
            </li>
          </ul>
        </div>
        <div class="col col-20 text-center">
          <ul class="list">
            <li class="item wait-work-list-item" ng-repeat="item in vm.assessmentStatusList">
              <span class="wait-work-list-item-btn" ng-click="vm.fun.checkStatusDetails(item)">查看</span>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </ion-content>
  <div class="bar bar-footer text-center">
    <div class="row">
      <div class="col col-center">
        <button class="button button-clear button-positive" ng-click="vm.fun.toAssessmentStatusDetails()">录入</button>
      </div>
      <div class="col col-center">
        <button class="button button-clear button-positive" ng-click="vm.fun.upload()">考核完成</button>
      </div>
    </div>
  </div>
</ion-view>
