<ion-view class="home-bg" ng-controller="AssessmentStatusController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <div class="home-bottom-bg">

    <div class="padding-left-right-20 save-data-row padding-top-30 common-font-4CB1AF-size-17">
      <div class="col col-30 text-center">地址</div>
      <div class="col col-30 text-center">问题</div>
      <div class="col col-20 text-center">扣分</div>
      <div class="col col-20 text-center">详情</div>
    </div>

    <div class="padding-left-right-20">

      <div class="save-data-line"></div>

      <ion-content class="common-ion-content" has-bouncing="false" scroll="false">

        <div class="common-ion-content-child-div">
          <div class="list">
            <li class="common-item" ng-repeat="item in vm.assessmentStatusList">
              <div class="row">
                <span class="col col-30 col-center text-center">{{item.name}}</span>
                <span class="col col-30 col-center text-center">{{item.deductItem}}</span>
                <span class="col col-20 col-center text-center">{{item.score}}</span>
                <div class="col col-20 common-center">
                  <div ng-if="item.status== null" class="common-query-btn"
                       ng-click="vm.fun.checkStatusDetails(item)"></div>
                </div>
              </div>
            </li>
          </div>
        </div>

      </ion-content>

      <div class="save-data-line"></div>

    </div>

    <div class="bar bar-footer text-center assessment-bottom-bar">
      <div class="row">
        <div class="col col-center common-font-white-size-18" ng-click="vm.fun.toAssessmentStatusDetails()">
          录入
        </div>
        <div class="col col-center common-font-white-size-18" ng-click="vm.fun.upload()">
          考核完成
        </div>
      </div>
    </div>
  </div>


</ion-view>
