<ion-view class="padding" ng-controller="HomeController as vm"  title="{{vm.title}}">

  <div ng-include="'templates/common/common.title.html'"></div>

  <div class="content has-header">

    <div class="text-center common-margin-top">
      <button  ng-show="vm.hasSavedData" ng-click="vm.toSavedData()">本地保存({{vm.saveDataNum}})</button>
    </div>

    <div class="padding common-margin-top" ng-include="'templates/common/common.weather.html'"></div>

    <div>
      <div>
        <div class="row ">
          <div class="col">
            <button class="button button-positive home-work-div" ng-click="vm.homeWorkController.toWaitForWork()">代办工作</button>
          </div>
          <div class="col">
            <button class="button button-positive home-work-div" ng-click="vm.homeWorkController.toComprehensiveAssessment()">综合考核</button>
          </div>
          <div class="col">
            <button class="button button-positive home-work-div" ng-click="vm.homeWorkController.toGridCheck()">网格化巡检</button>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <button class="button button-balanced home-work-div" ng-click="vm.homeWorkController.toProblemFeedback()">问题反馈</button>
          </div>
          <div class="col">
            <button class="button button-balanced home-work-div" ng-click="vm.homeWorkController.toAccount()">环卫台帐</button>
          </div>
          <div class="col">
            <button class="button button-balanced home-work-div" ng-click="vm.homeWorkController.toHistory()">查看历史</button>
          </div>
        </div>


        <div class="row">
          <div class="col">
            <button class="button button-royal home-work-div" ng-click="vm.homeWorkController.toMap()">地图查询</button>
          </div>
          <div class="col">
            <button class="button button-royal home-work-div" ng-click="vm.homeWorkController.toMessage()">消息</button>
          </div>
          <div class="col">
            <button class="button button-royal home-work-div" ng-click="vm.homeWorkController.toSettings()">设置</button>
          </div>
        </div>
      </div>
    </div>

  </div>

</ion-view>






