<ion-view class="home-bg" ng-controller="HomeController as vm" title="{{vm.title}}">

  <div class="home-top">
    <div class="home-top-bar">
      <button class="home-top-button">&lt;返回</button>
      <button class="home-top-button" ng-show="vm.hasSavedData" ng-click="vm.homeWorkController.toSavedData()">
        本地保存({{vm.saveDataNum}})
      </button>
      <button id="unReadMsgBtn"  class="home-top-button" ng-click="vm.homeWorkController.toMessage()">消息({{unReadMsgCount}})</button>
    </div>

    <div class="common-margin-top-10" ng-include="'templates/common/common.weather.html'"></div>

  </div>

  <div class="content home-bottom-bg">

    <div class="common-horizontal-center">
      <span class="home-bottom-title">请选择工作</span>
    </div>

    <div class="padding common-margin-top-10">
      <div class="home-row">
        <div class="home-work-div" ng-click="vm.homeWorkController.toWaitForWork()">
          <div class="home-work-img home-waitforwork">
          </div>
          <span class="home-work-img-text text-center">代办工作</span>
        </div>
        <div class="home-work-div" ng-click="vm.homeWorkController.toComprehensiveAssessment()">
          <div class="home-work-img home-assessment">
          </div>
          <span class="home-work-img-text text-center">综合考核</span>
        </div>
        <div class="home-work-div" ng-click="vm.homeWorkController.toGridCheck()">
          <div class="home-work-img home-gridcheck">
          </div>
          <span class="home-work-img-text text-center">网格化巡检</span>
        </div>
      </div>


      <div class="home-row common-margin-top-10">
        <div class="home-work-div" ng-click="vm.homeWorkController.toProblemFeedback()">
          <div class="home-work-img home-problemfeedback">
          </div>
          <span class="home-work-img-text text-center">问题反馈</span>
        </div>
        <div class="home-work-div" ng-click="vm.homeWorkController.toAccount()">
          <div class="home-work-img home-account"></div>
          <span class="home-work-img-text text-center">环卫台账</span>
        </div>
        <div class="home-work-div" ng-click="vm.homeWorkController.toHistory()">
          <div class="home-work-img home-history">
          </div>
          <span class="home-work-img-text text-center">查看历史</span>
        </div>
      </div>


      <div class="home-row common-margin-top-10">
        <div class="home-work-div" ng-click="vm.homeWorkController.toMap()">
          <div class="home-work-img home-map"></div>
          <span class="home-work-img-text text-center">地图查询</span>
        </div>
        <div class="home-work-div" ng-click="vm.homeWorkController.toMessage()">
          <div class="home-work-img home-message"></div>
          <span class="home-work-img-text text-center">消息</span>
        </div>
        <div class="home-work-div" ng-click="vm.homeWorkController.toSettings()">
          <div class="home-work-img home-setting"></div>
          <span class="home-work-img-text text-center">设置</span>
        </div>
      </div>
    </div>

  </div>

</ion-view>






