<!--<div class="card list">-->
<!--<div class="row weather-margin-left">-->
<!--<div class="col">-->
<!--<div class="common-font">日期：{{vm.weather.weatherDate}}</div>-->
<!--<div class="common-font">地区：{{vm.weather.address}}</div>-->
<!--</div>-->
<!--<div class="col">-->
<!--<div class="common-font">天气：{{vm.weather.weather}}</div>-->
<!--<div class="common-font">温度：{{vm.weather.temperature}}</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="row home-top-bar common-no-padding">
  <div class="col common-font-white-size-14 text-left ">
    <span>{{vm.weather.address}}</span>
    <span>{{vm.weather.weatherDate}}</span>
  </div>
  <div class="col home-temperature text-center">{{vm.weather.temperature}}</div>
  <div class="col common-font-white-size-14 text-right">{{vm.weather.weather}}</div>
</div>

