<ion-view class="home-bg" ng-controller="SavedDataController as vm" title="vm.title">

  <div class="save-data-top-bar">
    <div class="row">
      <div class="col">
        <button class=" home-top-button" ng-click="goBack()">&lt;返回</button>
      </div>
      <div class="col common-center save-data-title">本地内容</div>
      <div class="col"></div>
    </div>
  </div>

  <div class="home-bottom-bg">

    <div class="padding-left-right-20 save-data-row padding-top-20 common-font-4CB1AF-size-17">
      <div class="col col-50 text-center">时间</div>
      <div class="col col-25 text-center">地点</div>
      <div class="col col-25 text-center">操作</div>
    </div>


    <div class="padding-left-right-20">

      <div class="save-data-line"></div>

      <div class="common-ion-content">

        <div class="common-ion-content-child-div">
          <div class="list">
            <li class="common-item" ng-repeat="item in vm.savedData">
              <div class="row">
                <span class="col col-50 col-center text-center">{{item.date}}</span>
                <span class="col col-25 col-center text-center">{{item.address}}</span>
                <div class="col col-25 common-center">
                  <div class="saveData-upload-btn" ng-click="vm.fun.uploadData(item,$index)"></div>
                  <div class="saveData-delete-btn" style="margin-left: 10px;"
                       ng-click="vm.fun.deleteSavedData(item,$index)"></div>
                </div>
              </div>
            </li>
          </div>
        </div>

      </div>

      <div class="save-data-line"></div>

    </div>

  </div>

</ion-view>
