<ion-view ng-controller="MessageContentController as vm" title="消息内容">

  <div ng-include="'templates/common/common.title.html'"></div>

  <div class="content has-header">
    <div class="common-center">
      <span>消息：</span>
      <span>消息简介</span>
    </div>

    <div class="common-center">
      <span>消息详细内容：</span>
      <span>这是一条消息的详细内容。</span>
    </div>

    <div class="common-center">
      <span>附件下载：</span>
      <a href="http://www.baidu.com">这是附件的名字</a>
    </div>
  </div>

</ion-view>
