<ion-view class="padding " ng-controller="AddAssessmentController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <ion-content class=" padding has-header has-footer padding-top scroll-bar-fade-out calm-border" scroll="false">


    <div class="common-center common-margin-top-10">
      <span>设施类型：</span>
      <span>
        <select class="add-assessment-select" ng-init="vm.uploadData.type = vm.accountList.type[0]"
                ng-model="vm.uploadData.type">
            <option ng-repeat="item in vm.accountList.type">{{item}}</option>
          </select>
      </span>
    </div>

    <div class="common-center common-margin-top-10">
      <span>设施地址：</span>
      <div style="height: 30px;">
        <input id="search-form" class="add-assessment-select"/>
        <button ng-click="vm.fun.queryAccount()">搜索</button>
        <div id="spinner" ng-show="vm.spinnerShow" class="add-assessment-select">
          <ul class="proposal-list" ng-repeat="item in vm.accountAddressData">
            <li class="proposal" ng-click="vm.fun.spinnerHide(item)">{{item}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row wait-work-menu common-margin-top">
      <div class="col  text-center">保洁等级</div>
      <div class="col  text-center">主次干道</div>
      <div class="col  text-center">长度</div>
      <div class="col  text-center">宽度</div>
    </div>

    <div class="row">
      <div class="col  text-center">
        <input class="add-assessment-input text-center" ng-model="vm.uploadData.level"/>
      </div>
      <div class="col  text-center">
        <input class="add-assessment-input text-center" ng-model="vm.uploadData.road"/>
      </div>
      <div class="col  text-center">
        <input class="add-assessment-input text-center" ng-model="vm.uploadData.length"/>
      </div>
      <div class="col  text-center">
        <input class="add-assessment-input text-center" ng-model="vm.uploadData.width"/>
      </div>
    </div>

    <i class="devider"></i>

    <div class="row">
      <div class="col text-center">

        <div class="common-center common-margin-top-10">
          <span>扣分情况：</span>
          <input class="add-assessment-select" ng-model="vm.uploadData.points"/>
        </div>

        <div class="common-center common-margin-top-10">
          <span>扣分原因：</span>
          <select class="add-assessment-select" ng-init="vm.uploadData.reason = vm.accountList.reason[0]"
                  ng-model="vm.uploadData.reason">
            <option ng-repeat="item in vm.accountList.reason">{{item}}</option>
          </select>
        </div>

        <div class="common-center common-margin-top-10">
          <span>备注：</span>
          <textarea class="common-border add-assessment-textArea"></textarea>
        </div>


        <div class="row common-margin-top common-center">
          <img class="col add-assessment-img text-center"
               ng-repeat="item in vm.picBase64DataArray" ng-srcset="{{item}}"  on-hold="vm.fun.deletePic($index)">
        </div>

        <button class="common-margin-top" ng-click="vm.fun.takePicture()">拍照上传</button>

        <div>
          <button class="common-margin-top" ng-click="vm.fun.toAddAssessmentMap()">查看地图</button>
        </div>
      </div>
    </div>
  </ion-content>


  <div ng-include="'templates/common/common.footerConfirm.html'"></div>

</ion-view>
