<ion-view class="home-bg" ng-controller="AddAssessmentController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>


  <div class="home-bottom-bg">

    <div class="padding-left-right-20">

      <div class="padding-top-5 row">
        <div class="col">
          <span class="common-font-4CB1AF-size-17">设施类型</span>
          <div style="display: inline;">
            <select class="add-assessment-select common-font-4CB1AF-size-17"
                    ng-init="vm.queryCriteria.type = vm.facilityTypeList[0].type"
                    ng-model="vm.queryCriteria.type">
              <option ng-repeat="item in vm.facilityTypeList" value="{{item.type}}">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <span class="common-font-4CB1AF-size-17" style="float: left">设施地址</span>
          <div style="display: inline">
            <input id="search-form" class="add-assessment-query-input" style="float: left"
                   ng-model="vm.queryCriteria.address" placeholder="按台帐模糊搜索"/>
            <div ng-click="vm.fun.queryAccountList()" class="map-query-btn" style="float: left"></div>
          </div>
        </div>
      </div>

      <div id="spinner" ng-show="vm.spinnerShow">
        <ul class="proposal-list">
          <li style="height: auto" ng-repeat="item in vm.accountList" ng-click="vm.fun.spinnerHide(item)">
            {{item.name}}
          </li>
        </ul>
      </div>

      <div class="common-min-height-60" ng-switch="vm.queryCriteria.type">

        <div ng-switch-when="05">
          <div class="row">
            <div class="col">
              <span class="common-font-4CB1AF-size-17">保洁等级</span>
              <input class="add-assessment-input text-center" ng-model="vm.accountObj.level"
                     disabled/>
            </div>
            <div class="col">
              <span class="common-font-4CB1AF-size-17">主次干道</span>
              <input class="add-assessment-input text-center" ng-model="vm.accountObj.road"
                     disabled/>
            </div>
          </div>
          <div class="row common-margin-top">
            <div class="col">
              <span class="common-font-4CB1AF-size-17">长&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp度</span>
              <input class="add-assessment-input text-center" ng-model="vm.accountObj.length" disabled/>
            </div>
            <div class="col">
              <span class="common-font-4CB1AF-size-17">宽&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp度</span>
              <input class="add-assessment-input text-center" ng-model="vm.accountObj.width" disabled/>
            </div>
          </div>
        </div>

        <div ng-switch-when="01">
          <div class="row">
            <div class="col">
              <span class="common-font-4CB1AF-size-17">公厕类型</span>
              <input class="add-assessment-select text-center" ng-model="vm.accountObj.wcCondition" disabled/>
            </div>
          </div>
        </div>

        <div ng-switch-when="06">
          <div class="row">
            <div class="col">
              <span class="common-font-4CB1AF-size-17">车辆类型</span>
              <input class="add-assessment-select text-center" ng-model="vm.accountObj.carCondition" disabled/>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="padding-left-right-20">

      <div class="common-line-86D2C6"></div>

      <ion-content class="common-ion-content" has-bouncing="false" scroll="false">

        <div class="assessment-ion-content-child-div common-white-background">

            <!--扣分情况部分-->
            <div class="common-center common-margin-top-5">
              <div class="row">
                <div class="col">
                    <span class="common-font-4CB1AF-size-default">扣分情况</span>
                    <input class="add-assessment-input common-font-666" ng-model="vm.uploadData.points"/>
                </div>

                <div class="col">
                  <span class="common-font-4CB1AF-size-default">扣分原因</span>
                  <select class="add-assessment-input common-font-666" ng-model="vm.uploadData.reason">
                    <option  ng-repeat="item in vm.pointReasonArray">{{item.name}}</option>
                  </select>
                </div>
              </div>


              <div class="row common-margin-top-5">
                <div class="col">
                    <span class="common-font-4CB1AF-size-default">备&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp注</span>
                    <input class="add-assessment-textArea common-font-666"
                           ng-model="vm.uploadData.remarks">
                </div>
              </div>
            </div>

          <!--拍照上传部分-->
          <div class="add-assessment-photo-div common-center">
            <div class="common-flex-around">
              <img id="addAssessmentImg1" class="add-assessment-img" ng-src="assets/global/img/gridCheck/icon_streetscape.jpg"
                   on-hold="vm.fun.deletePic('1')">
              <img id="addAssessmentImg2" class="add-assessment-img" ng-src="assets/global/img/gridCheck/icon_streetscape.jpg"
                    on-hold="vm.fun.deletePic('2')">
              <img id="addAssessmentImg3" class="add-assessment-img" ng-src="assets/global/img/gridCheck/icon_streetscape.jpg"
                    on-hold="vm.fun.deletePic('3')">
              <img class="add-assessment-img" ng-src="assets/global/img/assessment/icon_takePhoto.png"
                    ng-click="vm.fun.takePicture()">
            </div>
          </div>

          <!--查看地图部分-->
          <div class="common-center">
            <div class="common-margin-top assessment-map-btn" ng-click="vm.fun.toAddAssessmentMap()">查看地图</div>
          </div>

          </div>

        </div>


    </div>

    <div class="common-line-86D2C6"></div>


  </div>

  <div class="bar bar-footer assessment-bottom-bar common-center" ng-click="vm.fun.uploadDataFun()">
    <div class="common-center">
      <img class="assessment-confirm-img" src="assets/global/img/assessment/icon_ok.png">
      <span class="common-font-white-size-18 common-margin-left-10">确&nbsp&nbsp&nbsp&nbsp定</span>
    </div>
  </div>


</ion-view>
