<ion-view class="padding " ng-controller="AccountDetailsController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <ion-content class=" padding has-header has-footer padding-top scroll-bar-fade-out calm-border">

    <div>
      <span>{{vm.installationName}}</span>
    </div>

    <div class="light-border padding-top">
      <div class="row wait-work-menu padding-top">
        <div class="common-center common-margin-top">
          <span>{{vm.name}}</span>>
        </div>
        <div class="common-center common-margin-top">
          <span>公厕名称：</span>>
          <span>{{vm.group}}</span>>
        </div>
        <div class="common-center common-margin-top">
          <span>公厕面积：</span>>
          <span>{{vm.group}}</span>>
        </div>
        <div class="common-center common-margin-top">
          <span>公厕类型：</span>>
          <span>{{vm.group}}</span>>
        </div>
        <div class="common-center common-margin-top">
          <span>负责人：</span>>
          <span>{{vm.group}}</span>>
        </div>
        <div class="common-center common-margin-top">
          <span>所属位置：</span>>
          <span>{{vm.group}}</span>>
        </div>
        <div class="common-center common-margin-top">
          <span>公厕位置：</span>>
          <span>{{vm.group}}</span>>
        </div>
      </div>
    </div>

  </ion-content>
  <div ng-include="'templates/common/common.footer.html'"></div>
</ion-view>
