<ion-view class="home-bg" ng-controller="ProblemFeedbackDetailsMapController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <div class="home-bottom-bg">

    <div class="common-center" scroll="false">

      <div>
        <div id="map" class="add-assessment-map card">

        </div>

        <div class="common-center">
          <span class="common-font-4CB1AF-size-default">目前定位地点</span>
        </div>

        <div class="common-center common-margin-top-10">
          <div class="assessment-map-btn" ng-click="vm.fun.refreshMyPosition()">刷新当前位置</div>
        </div>

      </div>
    </div>

  </div>

</ion-view>
