<ion-view class="padding " ng-controller="PlanDetailsController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>


  <ion-content class="has-header padding-top">
    <div class="row wait-work-menu padding-top">
      <div class="col-40 text-center">设施名称</div>
      <div class="col-20 text-center">类型</div>
      <div class="col-20 text-center">状态</div>
      <div class="col-20 text-center">详情</div>
    </div>
  </ion-content>

  <ion-content class="has-footer common-margin common-border" scrollbar-y="false">

    <div class="light-border padding-top">
      <div class="padding-top">
        <div class="row">
          <div class="col-40 text-center">
            <ul class="list">
              <li class="wait-work-list-item " ng-repeat="item in vm.planDetailsList">
                {{item.name}}
              </li>
            </ul>
          </div>
          <div class="col-20 text-center">
            <ul class="list">
              <li class="wait-work-list-item" ng-repeat="item in vm.planDetailsList">
                {{item.type}}
              </li>
            </ul>
          </div>
          <div class="col-20 text-center">
            <ul class="list">
              <li class="wait-work-list-item" ng-repeat="item in vm.planDetailsList">
                <span ng-show="item.status == null">未考核</span>
                <span ng-show="item.status == true">考核完成</span>
                <span ng-show="item.status == false">已考核</span>
              </li>
            </ul>
          </div>
          <div class="col-20 text-center">
            <ul class="list">
              <li class="wait-work-list-item" ng-repeat="item in vm.planDetailsList">
                <span class="wait-work-list-item-btn"
                      ng-click="vm.toAssessmentStatus(item)">{{item.status== null ?'上报':'查看'}}</span>
                <!--<button class="button button-small button-positive"-->
                <!--ng-click="vm.toAssessmentStatus(item)">{{item.status=='0'?'上报':'查看'}}</button>-->
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <button  class=" common-center" ng-show="vm.data.simpleInput == 1" ng-click="vm.fun.toAddAssessment()">录入计划
    </button>

  </ion-content>


</ion-view>
