<ion-view class="padding " ng-controller="HistoryController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>


  <div class="common-has-header  padding-top ">

    <div class="padding common-center">
      <label class="item item-input">
        <!--<i class="icon ion-search"></i>-->
        <input type="text" placeholder="请输入关键字搜索" ng-model="vm.queryCriteria.keyword"/>
      </label>
      <button class="button button-positive icon ion-search common-margin-left-20"
              ng-click="vm.fun.getHistoryDataByCondition()"></button>
    </div>

    <div class="row">
      <div class="col col-20 text-center">
        <select ng-init="vm.queryCriteria.selectedYeah = vm.thisYeah" ng-model="vm.queryCriteria.selectedYeah">
          <option ng-repeat="x in vm.yeahArray">{{x}}</option>
        </select>
      </div>
      <div class="col col-20 text-center">
        <select ng-init="vm.queryCriteria.selectedMonth = vm.thisMonth" ng-model="vm.queryCriteria.selectedMonth">
          <option ng-repeat="x in vm.monthArray track by $index">{{x}}</option>
        </select>
      </div>

      <div class="col col-40 text-center">
        考核名称
      </div>

      <div class="col col-20 text-center">
        详情
      </div>
    </div>

  </div>

  <ion-content class="padding common-ion-content-top-200 has-footer common-border common-margin-left-10 common-margin-right-10">

    <div>
      <div class="row">
        <div class="col col-20 text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.historyList">
              {{vm.queryCriteria.selectedYeah}}
            </li>
          </ul>
        </div>
        <div class="col col-20 text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.historyList">
              {{vm.queryCriteria.selectedMonth}}
            </li>
          </ul>
        </div>
        <div class="col col-40 text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.historyList">
              {{item.planName}}
            </li>
          </ul>
        </div>
        <div class="col col-20 text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.historyList">
              <span class="wait-work-list-item-btn" ng-click="vm.toPlanDetails(item)">查看</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
