<ion-view class="home-bg" ng-controller="ProblemFeedbackDetailsController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <div class="home-bottom-bg">

    <div class="padding-left-right-20">

      <div class="padding">


        <div class="common-center common-margin-top-10 padding-top-10">
          <span class="common-font-4CB1AF">考核设施：</span>
          <div class="feedback-span common-font-666">{{vm.problemDetails.name}}</div>
        </div>

        <div class="common-center common-margin-top-10 padding-top-10">
          <span class="common-font-4CB1AF">考核地址：</span>
          <div class="feedback-span common-font-666">{{vm.problemDetails.location}}</div>
        </div>

        <div class="common-center common-margin-top-10 padding-top-10">
          <span class="common-font-4CB1AF">问题原因：</span>
          <div class="feedback-span common-font-666">{{vm.problemDetails.describe}}</div>
        </div>

        <div class="common-center padding-top-10">
          <span class="common-font-4CB1AF">整改情况：</span>
          <textarea class="feedback-textArea"
                    ng-model="vm.uploadData.feedbackDescription"></textarea>
        </div>


        <div>
          <div class="save-data-line"></div>

          <div class="gridCheck-bottom-div">

            <div class="common-margin-top common-center">
              <img id="problemFeedbackDetailsImg" class="gridCheck-img" src="assets/global/img/gridCheck/icon_streetscape.jpg" on-hold="vm.fun.deletePic()">
            </div>

            <div class="common-margin-top-10 common-center common-font-4CB1AF">已上传图片</div>

            <div class="common-center common-margin-top-20">
              <div class="feedback-photo-btn" ng-click="vm.fun.toProblemFeedbackDetailsMap()">查看地图</div>
              &nbsp&nbsp
              <div class="feedback-map-btn" ng-click="vm.fun.initCamera()">拍照上传</div>
            </div>
          </div>

          <div class="save-data-line"></div>

        </div>

      </div>

    </div>

  </div>

  <div class="bar bar-footer assessment-bottom-bar common-center" ng-click="vm.fun.uploadProblemFeedbackData()">
    <div class="common-center">
      <img class="assessment-confirm-img" src="assets/global/img/assessment/icon_ok.png">
      <span class="common-font-white-size-18 common-margin-left-10">确&nbsp&nbsp&nbsp&nbsp定</span>
    </div>
  </div>

</ion-view>

