<ion-view class="padding " ng-controller="GridCheckController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <ion-content class=" padding has-header has-footer padding-top">

    <div class="common-center common-margin-top-10">
      <span class="common-span-width">考核设施：</span>
      <span>
        <input class="add-assessment-select" ng-model="vm.locationObj.district" disabled/>
      </span>
    </div>

    <div class="common-center common-margin-top-10">
      <span class="common-span-width">考核地址：</span>
      <span>
        <input class="add-assessment-select" ng-model="vm.locationObj.street" disabled/>
      </span>
    </div>

    <div class="common-center common-margin-top-10">
      <span class="common-span-width">问题原因：</span>
      <span>
        <select class="add-assessment-select" ng-init="vm.selectedQuesCode = vm.questionCode[0]"
                ng-model="vm.selectedQuesCode" ng-options="x for x in vm.questionCode">
        </select>
      </span>
    </div>

    <div class="common-center common-margin-top-10">
      <span class="common-span-width">整改情况：</span>
      <textarea class="common-border add-assessment-textArea" ng-modele="vm.question"></textarea>
    </div>


    <div class="row common-margin-top assessment-img common-center">
      <img id="img" class="col assessment-img text-center" ng-srcset="{{vm.picPath}}">
    </div>

    <div class="common-margin-top common-center">已上传图片</div>

    <div class="common-center">
      <button class="common-margin-top" ng-click="vm.fun.toGridCheckMap()">查看地图</button>
    </div>

  </ion-content>
</ion-view>

