<ion-view class="padding " ng-controller="MapController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>

  <ion-content class=" padding has-header" scroll="false">

    <div class="common-center common-margin-top-10">
      <div>
        <label class="checkbox checkbox-square common-center">
          <input type="checkbox" ng-checked="vm.allCheck.selected" ng-model="vm.allCheck.selected">
          <span>{{vm.allCheck.account}}</span>
        </label>
      </div>
      <div ng-repeat="item in vm.accountList">
        <label class="checkbox checkbox-square common-center">
          <input type="checkbox" ng-model="vm.accountList[$index].selected" ng-checked="vm.allCheck.selected" >
          <span>{{item.account}}</span>
        </label>
      </div>
    </div>

    <div class="common-center common-margin-top-10">
      <span>设施地址：</span>
      <div style="height: 30px;">
        <input id="search-form" class="add-assessment-select" ng-model="vm.queryCriteria.keyword"/>
        <button ng-click="vm.fun.getAccountsPositionData()">搜索</button>
      </div>
    </div>

    <div class="common-center">
      <div>
        <div id="map" class="query-map card">

        </div>

        <div class="common-margin-top-20 common-center">
          <span>所在位置：</span>
          <span>{{}}</span>
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>







