<ion-view class="padding " ng-controller="WaitForWorkController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>


  <ion-content class="has-header padding-top">
    <div class="row wait-work-menu padding-top">
      <div class="col-40 text-center">工作名称</div>
      <div class="col-20 text-center">开始时间</div>
      <div class="col-20 text-center">结束时间</div>
      <div class="col-20 text-center"></div>
    </div>
  </ion-content>

  <ion-content class="has-footer common-margin common-border">

    <div class="padding-top">
      <div class="row">
        <div class="col-40 text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.workList">
              {{item.planName}}
            </li>
          </ul>
        </div>
        <div class="col-20 text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.workList">
              {{item.sDate}}
            </li>
          </ul>
        </div>
        <div class="col-20 text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.workList">
              {{item.eDate}}
            </li>
          </ul>
        </div>
        <div class="col-20 text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.workList">
              <span class="wait-work-list-item-btn" ng-click="vm.toJobDetails(item)">查看</span>
              <!--<button class="button button-small button-positive" ng-click="vm.toJobDetails(item)">查看</button>-->
            </li>
          </ul>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
