<ion-view class="padding " ng-controller="AccountController as vm">

  <div ng-include="'templates/common/common.title.html'"></div>


  <div class="common-has-header  padding-top ">

    <div class="padding common-center">
      <label class="item item-input">
        <!--<i class="icon ion-search"></i>-->
        <input type="text" placeholder="请输入关键字搜索" ng-model="vm.keyword"/>
      </label>
      <button class="button button-positive icon ion-search common-margin-left-20"
              ng-click="vm.fun.getAccountListByQueryCriteria()"></button>
    </div>

    <div class="row">
      <div class="col  text-center">
        <select ng-init="vm.queryCriteria.cityPlace = vm.cityPlace[0]" ng-model="vm.queryCriteria.cityPlace">
          <option ng-repeat="x in vm.cityPlace">{{x}}</option>
        </select>
      </div>
      <div class="col  text-center">
        <select ng-init="vm.queryCriteria.accountType = vm.accountType[0]" ng-model="vm.queryCriteria.accountType">
          <option ng-repeat="x in vm.accountType" ng-click="vm.fun.updateLevelArrayByType(x)">{{x}}</option>
        </select>
      </div>

      <div class="col  text-center">
        <select ng-init="vm.queryCriteria.leve = vm.level[0]" ng-model="vm.queryCriteria.level">
          <option ng-repeat="x in vm.level">{{x}}</option>
        </select>
      </div>

      <div class="col  text-center">
        详情
      </div>
    </div>

  </div>

  <ion-content class="padding common-ion-content-top-200 has-footer common-border common-margin-left-10 common-margin-right-10">

    <div>
      <div class="row">
        <div class="col text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.accountList">
              {{item.cityPlace}}
            </li>
          </ul>
        </div>
        <div class="col text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.accountList">
              {{item.accountType}}
            </li>
          </ul>
        </div>
        <div class="col text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.accountList">
              {{item.level}}
            </li>
          </ul>
        </div>
        <div class="col text-center">
          <ul class="list">
            <li class="wait-work-list-item" ng-repeat="item in vm.accountList">
              <span class="wait-work-list-item-btn" ng-click="vm.fun.toAccountDetails(item)">查看</span>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
