<ion-view title="已收到的消息" class="home-bg" ng-controller="MessageController as vm" title="{{vm.title}}">

  <div ng-include="'templates/common/common.title.html'"></div>


  <div class="message-bottom-bg">

    <div class="message-content-div">

      <div class="padding-left-right-20">

        <ion-scroll direction="y" scrollbar-y="false">

          <ion-refresher
            pulling-text="下拉刷新..."
            on-refresh="vm.refreshMessageList()">
          </ion-refresher>

          <div class="message-ion-content-child-div">
            <div class="list">
              <li class="common-item" ng-repeat="msg in vm.messages" ui-sref="messageContent({msgId:msg.id})">
                <div class="row">
                  <span class="col col-25 col-center text-center">{{msg.title}}</span>
                  <div class="col col-20 col-center text-center" ng-switch="msg.state">
                    <span ng-switch-when="0">(未读)</span>
                    <span ng-switch-when="1">(已读)</span>
                  </div>
                  <span class="col col-50 col-center text-center message-item-date">{{msg.sendDate}}</span>
                </div>
              </li>
            </div>
          </div>

        </ion-scroll>

      </div>
    </div>

  </div>

</ion-view>
