 <ion-view class="home-bg" ng-controller="AssessmentController as vm">

   <div ng-include="'templates/common/common.title.html'"></div>


   <div class="home-bottom-bg">


     <div class="padding-left-right-20 save-data-row padding-top-30 common-font-4CB1AF-size-17">
       <div class="col col-40 text-center">巡检计划</div>
       <div class="col col-25 text-center">开始时间</div>
       <div class="col col-25 text-center">结束时间</div>
       <div class="col col-10 text-center"></div>
     </div>

     <div class="padding-left-right-20">

       <div class="save-data-line"></div>

       <ion-scroll direction="y" scrollbar-y="false">

         <ion-refresher
           pulling-text="下拉刷新..."
           on-refresh="vm.fun.pullToRefreshAssessmentData()">
         </ion-refresher>

         <div class="common-ion-content-child-div">
           <div class="list">
             <li class="common-item" ng-repeat="item in vm.planList">
               <div class="row">
                 <span class="col col-40 col-center text-center assessment-plan-div"> {{item.planName}}</span>
                 <span class="col col-25 col-center text-center">{{item.sDate}}</span>
                 <span class="col col-25 col-center text-center">{{item.eDate}}</span>
                 <div class="col col-10 common-center">
                   <div class="common-query-btn" ng-click="vm.toPlanDetails(item)"></div>
                 </div>
               </div>
             </li>
           </div>
         </div>

       </ion-scroll>

       <div class="save-data-line"></div>
     </div>

   </div>
 </ion-view>
